//
//  Development.xcconfig
//  Managing-Environment
//
//  Created by Bertug YILMAZ on 3.02.2020.
//  Copyright © 2020 bertugyilmaz. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT_NAME    = development
APP_NAME            = dev
APP_ICON_NAME       = dev_icon
BASE_URL            = www.development.com
API_KEY             = Development apiKey
