//
//  Production.xcconfig
//  Managing-Environment
//
//  Created by Bertug YILMAZ on 3.02.2020.
//  Copyright © 2020 bertugyilmaz. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT_NAME    = production
APP_NAME            = Production
APP_ICON_NAME       = prod_icon
BASE_URL            = https:\/\/www.production.com
API_KEY             = production apiKey
