//
//  QA.xcconfig
//  Managing-Environment
//
//  Created by Bertug YILMAZ on 3.02.2020.
//  Copyright © 2020 bertugyilmaz. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT_NAME    = quality assurance
APP_NAME            = QA
APP_ICON_NAME       = qa_icon
BASE_URL            = https:\/\/www.qa.com
API_KEY             = QA apiKey
